
body {
  margin: 0;
  min-height: 100vh;
  background-image: url(img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}


nav.header-box {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 15px 25px;
  z-index: 1000;
}


.logo img {
  height: 50px;
  margin-left: 10px;
}


.text-box {
  background-color: #111827;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 65%;
}

.login-container {
  position: relative;
}

.login-btn {
  padding: 10px 20px;
  background-color: #111827;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}


.login-toggle {
  display: none;
}


.dropdown {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


.login-toggle:checked + .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  color: #111827;
  text-decoration: none;
  font-weight: bold;
}

.dropdown a:hover {
  background-color: #f0f0f0;
}

.banner {
  padding: 250px 0;
  text-align: center;
}

.banner h1 {
  display: inline-block;
  font-size: 60px;
  color: white;
  font-weight: 700;
 background-color: #11182786;
  padding: 30px 40px;
  border-radius: 20px;
  font-family: Verdana;
}
